.card{
    box-shadow: 0px 0px 10px 5px #888888;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  
  
  
  .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
    background-color: gray;
  }
  
  
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color:#ffffff;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "";
    left: 42px;
    background-color: #ffffff;
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }
  .color_back_yellow{
    background-color: yellow;
}
.color_back_blue{
    background-color: #416cc7;
}

.boder{
    padding: 30px;
    border: 15px solid red;
}
.shadow{
    padding: 45px;
    box-shadow: 0px 0px 10px 5px #8888;
}
.car_content1{
    text-align: right;
            margin-top: -20px;
            font-weight: bold;
            color: #2d2d8d;
            font-size: 22px;
}
.car_content2{
    text-align: left;
            margin-top: -20px;
            font-weight: bold;
            color: #e6d10a;
            font-size: 22px;
}